body {
    width: 100%;
    height: 100%;
    background-color: #272727;
    color: white;
    font-family: sans-serif;
}
h3 {
    color: #80d880;
    font-size: 30px;
    text-align: center;
}
#Login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#Login input {
    padding: 16px;
    margin-left: 20%;
    margin-bottom: 16px;
    width: 60%;
    background-color: #383838;
    border-color: #77e677;
    color: white;
}
#Login button {
    padding: 16px;
    margin-left: 20%;
    width: 60%;
    background-color: #80d880;
}
#Profile {
    width: 100%;
    height: 100%;
    display: none;
}
#Profile .choice {
    width: 200px;
    height: 200px;
    margin-left: calc(50% - 100px);
    margin-top: 8px;
    background-color: #80d880;
    line-height: 200px;
    text-align: center;
}
#Channels {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
}
#Channels .event {
    width: 200px;
    height: 200px;
    margin: 16px;
    background-color: #80d880;
    text-align: center;
}
#Stream {
    width: 100%;
    height: 100%;
    display: none;
}

#Stream video {
    width: 90%;
    margin-left: 5%;
}